<section>
  <div class="container mt-4 text-dark">
      <div>
        <h2 class="text-center d-flex justify-content-center align-items-center mb-4">Authorize</h2>
        <p>Please insert your password to edit the element.</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control border-primary text-dark" id="password" formControlName="password">
          </div>
          <div class="mb-3">
            <div class="alert alert-danger text-dark" role="alert" *ngIf="error">The password could not be verified.</div>
          </div>

          <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
          </div>
        </form>
      </div>
    </div>
</section>
