<div class="card card-height text-center border-primary h-100" *ngIf="category">
  <div class="card-header bg-transparent " style="max-height: 3.5rem;">
    <h4 class="card-title d-flex align-items-center justify-content-center">
      <span class="d-inline-block color-box me-2" [style.background-color]="category.color" style="width: 25px; height: 25px; border: 2px solid white;"></span>
      {{ category.name }}
    </h4>
  </div>
  <div class="card-body p-3 mb-1">
    <p class="card-text">{{ category.description }}</p>
  </div>
  <div class="card-footer bg-transparent px-3 py-2 d-flex justify-content-end align-items-center" style="height: 5rem">
    <app-edit url="/category/edit" [itemId]="category.id!"></app-edit>
    <app-details url="/category" [itemId]="category.id!"></app-details>
  </div>
</div>
