# Database Configuration
MYSQL_ROOT_PASSWORD=qht371be!
MYSQL_DATABASE=quizmaster
MYSQL_USER=qm
MYSQL_PASSWORD=quizexpert!
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/quizmaster?createDatabaseIfNotExist=true
SPRING_DATASOURCE_USERNAME=${MYSQL_USER}
SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD}

# Server config
DOMAIN=http://example.com # use the same in nginx config