<section class="d-flex align-items-center justify-content-center">
  <div class=" container text-center my-4 text-dark">
    <h1 class="display-4">404 - Seite nicht gefunden</h1>
    <p class="lead mb-3">Oops! Die Seite, die du suchst, existiert nicht oder wurde verschoben.</p>
    <img
      src="assets/Robot404Neon.jpg"
      alt="404 Robot Neon"
      class="img-fluid mx-auto d-block"
      style="max-width: 400px; border-radius: 24px;">
    <a href="/home" class="btn btn-primary mt-4">Zur Startseite</a>
  </div>
</section>