<div class="container mt-4 text-dark col-12 col-lg-8">
  <div class="form-glass-container rounded-4 p-3" style=" box-shadow: 
  12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3) !important;" *ngIf="quizDetail">

    <div class="d-flex justify-content-between align-items-center mb-3">
      <div>
        <h2 [ngClass]="{'text-truncate': quizDetail.name.length > 20}" class="m-0 me-2">{{ quizDetail.name }}</h2>
      </div>
      <i class="fs-2 fa-solid fa-heart text-danger" *ngIf="quizDetail.isFavorite"></i>
    </div>

    <div class="mb-3">
      <h3 class="fs-4 text-secondary text-dark">Category</h3>
      <span>
        {{ quizDetail.category.name }}
      </span>
    </div>

    <div class="mb-3">
      <h3 class="fs-4 text-secondary text-dark">Description</h3>
      <p>{{ quizDetail.description }}</p>
    </div>

    <div>
      <h3 class="fs-4 text-secondary text-dark">Questions</h3>
      <ul>
        <li *ngFor="let question of quizDetail.questions">{{ question.question }}</li>
      </ul>
    </div>

    <div class="mt-5 d-flex justify-content-between align-items-center gap-3">
      <div class="d-flex align-items-center">
        <app-back></app-back>
      </div>
      <div class="d-flex align-items-center">
        <app-edit url="/quiz/edit" [itemId]="quizDetail.id!"></app-edit>
      </div>
    </div>

  </div>
</div>