<section>
  <div class="container my-4" *ngIf="quizDetail">
    <div>
      <div class="my-4">
        <h1 class="fs-2">{{ quizDetail.name }} <i class="fs-2 fa-solid fa-heart text-danger ms-2" *ngIf="quizDetail.isFavorite"></i></h1>
      </div>

      <div class="mb-3">
        <h3 class="fs-4 text-secondary-emphasis">Category</h3>
        <span>
        {{ quizDetail.category.name }}
      </span>
      </div>

      <div class="mb-3">
        <h3 class="fs-4 text-secondary-emphasis">Description</h3>
        <p>{{ quizDetail.description }}</p>
      </div>

      <div class="mb-3">
        <h3 class="fs-4 text-secondary-emphasis">Questions</h3>
        <ul>
          <li *ngFor="let question of quizDetail.questions">{{ question.question }}</li>
        </ul>
      </div>

      <div class="mt-5">
        <app-back></app-back>
        <app-edit url="/quiz/edit" [itemId]="quizDetail.id!"></app-edit>
      </div>

    </div>
  </div>
</section>
