<section *ngIf="gameInfo">
  <div class="container my-4 text-dark">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-9 col-lg-10">
        <h2 class="badge bg-primary fs-4 text-white mb-3">{{ gameInfo.category }}</h2>
        <h1 class="display-5 fw-bold">{{ gameInfo.name }}</h1>
        <p class="lead fs-3">{{ gameInfo.description }}</p>
      </div>

      <div class="col-12 col-md-3 col-lg-2">
        <img src="assets/HeroForHome.jpg" alt="Hero" class="img-fluid" style="box-shadow: 
        12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.3) !important;
        border-radius: 24px;">
      </div>
    </div>
  </div>
</section>

<section class="container text-dark">
  <div>
    <div id="quiz-box" class="rounded-4 my-5 p-4 form-glass-container rounded-4 p-3" style="box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3) !important;">
      <div class="row justify-content-center align-items-center">

        <div
          *ngIf="currentQuestions[questionPointer] && !(this.questionPointer === this.currentQuestions.length); else finalScreen">

          <h3 class="text-center mb-4">{{ currentQuestions[questionPointer].question }}</h3>

          <!-- Single Choice -->
          <app-question-single-choice
            *ngIf="currentQuestions[questionPointer].questionType === 'Single Choice'"
            [currentQuestion]="currentQuestions[questionPointer]"
            (submitSelectedAnswer)="onAnswerSubmitted($event)"
          ></app-question-single-choice>

          <!-- Multiple Choice -->
          <app-question-multiple-choice
            *ngIf="currentQuestions[questionPointer].questionType === 'Multiple Choice'"
            [currentQuestion]="currentQuestions[questionPointer]"
            (answerSelected)="onAnswerSubmitted($event)"
          ></app-question-multiple-choice>

          <!-- Text Input -->
          <app-question-text-input
            *ngIf="currentQuestions[questionPointer].questionType === 'Text Input'"
            [currentQuestion]="currentQuestions[questionPointer]"
            (submitSelectedAnswer)="onAnswerSubmitted($event)"
          ></app-question-text-input>

          <div class="text-center mt-2">
            <span class="bg-transparent fs-5">Question: {{ questionPointer + 1 }} / {{ currentQuestions.length }}</span>
          </div>

        </div>

        <!-- Final Screen -->
        <ng-template #finalScreen>
          <h3 class="fs-2 mb-4">Quiz Results</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
              <tr *ngFor="let answer of answersGiven; let i = index">
                <!-- Frage Details -->
                <td class="text-start">
                  <p class="mb-2">
                    <strong>Question {{ i + 1 }}:</strong> {{ answer.question }}
                  </p>
                  <p class="mb-2">
                    <strong>Correct answer:</strong> {{ answer.correctAnswer }}
                  </p>
                  <p [class.text-success]="answer.isCorrect" [class.text-danger]="!answer.isCorrect">
                    <strong>Your answer:</strong> {{ answer.answerGiven }}
                  </p>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</section>
