<section>
  <div class="container my-5" *ngIf="questionDetail">
    <div>
      <div class="my-4">
        <h1 class="fs-2">{{ questionDetail.question }} <i class="fs-2 fa-solid fa-heart text-danger ms-2" *ngIf="questionDetail.isFavorite"></i></h1>
      </div>

      <div class="mb-3">
        <h3 class="fs-4 text-secondary-emphasis">Question Type</h3>
        <p>{{ questionDetail.questionType }}</p>
      </div>

      <div class="mb-3">
        <h3 class="fs-4 text-secondary-emphasis">Correct Answer</h3>
        <p class="text-success"><strong>{{ questionDetail.correctAnswer }}</strong></p>
      </div>

      <div class="mb-3" *ngIf="questionDetail.questionType !== 'Text Input'">
        <h3 class="fs-4 text-secondary-emphasis">Possible Answers</h3>
        <ul>
          <li *ngIf="questionDetail.answerA">A: {{ questionDetail.answerA }}</li>
          <li *ngIf="questionDetail.answerB">B: {{ questionDetail.answerB }}</li>
          <li *ngIf="questionDetail.answerC">C: {{ questionDetail.answerC }}</li>
          <li *ngIf="questionDetail.answerD">D: {{ questionDetail.answerD }}</li>
        </ul>
      </div>

      <div class="mb-3" *ngIf="questionDetail.tags">
        <h3 class="fs-4 text-secondary-emphasis">Tags</h3>
        <span *ngFor="let tag of questionDetail.tags" class="badge bg-info text-dark me-1">{{ tag.name }}</span>
      </div>

      <div class="mb-3" *ngIf="questionDetail.quizzes">
        <h3 class="fs-4 text-secondary-emphasis">Associated Quizzes</h3>
        <ul>
          <li *ngFor="let quiz of questionDetail.quizzes">
            {{ quiz.name }}
          </li>
        </ul>
      </div>

      <div class="mt-5">
        <app-back></app-back>
        <app-edit url="/question/edit" [itemId]="questionDetail.id!"></app-edit>
      </div>
    </div>
  </div>
</section>
