@import "../node_modules/bootswatch/dist/quartz/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/quartz/bootswatch";

body {
  background-color: #f8f9fa !important;
}

.bold-text {
  font-weight: bold;
}

.btn {
  border-radius: 8px;
  min-width: 88px;
}

.btn-info {
  color: black;
}

.card {
  border-radius: 24px;
  overflow: hidden;
  @include glass(0.3, rgba($black, 0.6));

  &-header,
  &-body {
    color: white;
  }

  &.bg-light {
    .card-header,
    .card-body {
      color: $gray-800;
    }
  }

  &.border {
    @each $color, $value in $theme-colors {
      &-#{$color} {
        @include glass(0.3, rgba($value, 0.5));
        .card-header {
          background-color: $value !important;
          border-bottom: none;

          @if ($color == light) {
            color: white;
          }
        }
      }
    }
  }
}

card-height {
  min-height: 340px;
}

.card-text {
  color: black;
  font-size: 1.25rem;
}

.color-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.fixed-bottom {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  color: white;
  text-shadow: 0 0 5px #32fbe2, 0 0 10px #32fbe2, 0 0 20px #32fbe2, 0 0 30px #32fbe2;
}

.nav-link {
  font-size: 18px;
}

.nav-link:hover {
  color: var(--bs-navbar-hover-color);
}

.nav-link.footer-link:hover {
  color: white !important;
}

.navbar {
  background-color: rgb(29, 101, 225);
  color: $white;
}

.rounded-lg {
  border-radius: 1rem;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

.table thead th {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.tag-height {
  min-height: 150px;
}