
  <div class="container my-4">
<div>
        <h1 class="text-dark text-center fs-2 mb-4">Questions</h1>
        <div class="d-flex justify-content-end gap-2 mb-2">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle mb-2" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ selectedFilter }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" (click)="filterQuestions('All')">All</a></li>
              <li><a class="dropdown-item" (click)="filterQuestions('Multiple Choice')">Multiple Choice</a></li>
              <li><a class="dropdown-item" (click)="filterQuestions('Single Choice')">Single Choice</a></li>
              <li><a class="dropdown-item" (click)="filterQuestions('Text Input')">Text Input</a></li>
            </ul>
          </div>
          <app-create url="/question/create" text="Create" [useIcon]="true"></app-create>
        </div>
      </div>
    
    <app-questions-table [questions]="filteredQuestions"></app-questions-table>
  </div>