<div class="container">
  <footer class="py-2 my-1">
    <ul class="nav justify-content-center border-bottom pb-1 mb-2">
      <li class="nav-item"><a routerLink="/home" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
      <li class="nav-item"><a routerLink="/home" class="nav-link px-2 text-body-secondary">Imprint</a></li>
      <li class="nav-item"><a routerLink="/home" class="nav-link px-2 text-body-secondary">Contact</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 YouGrow-BestTeam</p>
  </footer>
</div>
