<footer class="py-2 my-1">
  <div class="container-fluid d-flex justify-content-between align-items-center">
      <ul class="nav">
          <li class="nav-item"><a routerLink="/home" class="nav-link footer-link text-dark">Privacy Policy</a></li>
          <li class="nav-item"><a routerLink="/home" class="nav-link footer-link text-dark">Imprint</a></li>
          <li class="nav-item"><a routerLink="/home" class="nav-link footer-link text-dark">Contact</a></li>
      </ul>
      <p class="mb-0 me-2 text-dark">© 2024 YouGrow-BestTeam</p>
  </div>
</footer>