<div class="card card-height text-center border-primary h-100 min-height: 300px;" *ngIf="quiz">
  <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
    <h4 class="card-title mb-0 me-2 text-truncate">{{ quiz.name }}</h4>
    <div>
      <i class="fa-solid fa-heart text-danger fs-3" *ngIf="quiz.isFavorite"></i>
    </div>
  </div>
  <div class="mt-3">
    <div class="card-text badge d-inline-block text-white fs-5" [ngStyle]="{'background-color': quizCategoryColor}"
      *ngIf="quiz.category">
      {{ quiz.category.name || 'No category name' }}
    </div>
  </div>
  <div class="card-body p-3 mb-1 ">
    <p class="card-text mb-3" [ngClass]="{ 'fst-italic': !quiz.description }">
      {{ quiz.description || 'No description available' }}
    </p>
    <p class="fixed-bottom" [class]="quiz.questionSize === 0 ? 'card-text text-danger' : 'card-text'">
      <strong>Questions:</strong> {{ quiz.questionSize }}
    </p>
  </div>
  <div class="card-footer bg-transparent px-3 py-2 d-flex justify-content-between align-items-center"
    style="height: 5rem">
    <app-start [quiz]="quiz"></app-start>
    <div class="d-flex align-items-center gap-1">
      <app-edit url="/quiz/edit" [itemId]="quiz.id!"></app-edit>
      <app-details url="/quiz" [itemId]="quiz.id!"></app-details>
    </div>
  </div>
</div>